@import "tailwindcss";
.Header{
    
    color: black;
    text-align: center;
}
.page{
    background-color: azure;
}
.jumbotron{
    background-color: white;
    color: rgb(117, 17, 117);
    padding: 4px;
    margin-right:25% ;
    margin-left: 25%;
}